.bts-modify-ticket-child {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: rgba(156, 98, 61, 0.09);
    width: 93%;
    height: 180px;
  }
  .bts-modify-logo-modify {
    position: absolute;
    width: 11.26%;
    top: -25px;
    right: 88.1%;
    left: 0.64%;
    max-width: 100%;
    overflow: hidden;
    height: 246px;
    object-fit: cover;
    cursor: pointer;
  }
  .bts-modify-header-line{
    position: absolute;
    width: 93%;
    top: 0.41px;
    right: 0px;
    left: 0;
    background-color: var(--color-darkslateblue);
    height: 40px;
  }
  .for-route-related-modify,
  .payment-cancellation-modify {
    position: absolute;
    width: 70.11%;
    top: 5.41px;
    left: 1.27%;
    display: inline-block;
    color: var(--color-white);
    height: 47px;
  }
  .payment-cancellation-modify {
    width: 70.11%;
    top: 4.41px;
    left: 66.8%;
    height: 67px;
  }
  .agent-login-modify,
  .bus-tickets-modify,
  .help1-modify,
  .track-bus-modify {
    position: absolute;
    width: 32.68%;
    top: 110px;
    left: 12.15%;
    display: inline-block;
    height: 147px;
    cursor: pointer;
  }
  .agent-login-modify,
  .help1-modify,
  .track-bus-modify {
    width: 15.76%;
    left: 23.51%;
    height: 129px;
  }
  .agent-login-modify,
  .help1-modify {
    width: 25.75%;
    left: 70.22%;
    height: 121px;
   
  }
  .help1-modify {
    height: 100%;
    width: 100%;
    top: 0px;
    left: -63%;
  }
  .account-modify,
  .help-modify {
    position: absolute;
    top: 110px;
    left: 1076px;
    width: 397.13px;
    height: 135px;
  }
  .account-modify {
    width: 36.01%;
    left: 81.26%;
    display: inline-block;
    height: 118px;
    cursor: pointer;
  }
  /* .rectangle-footer-modify {
    position: absolute;
    width: 100%;
    top: 959px;
    right: 0;
    left: -100px;
    background-color: var(--color-darkslateblue);
    height: 65px;
  } */
  /* .about-us-modify,
  .contact-us-modify,
  .feedback-and-suggestions-modify {
    position: absolute;
    width: 26.54%;
    top: 980px;
    left: 14.6%;
    display: inline-block;
    color: var(--color-white);
    height: 88px;
    cursor: pointer;
  
  } */
  /* .contact-us-modify,
  .feedback-and-suggestions-modify {
    width: 30.67%;
    left: 49.18%;
    height: 120px;
    cursor: pointer;
  }
  .feedback-and-suggestions-modify {
    width: 46.98%;
    left: 64.7%;
    height: 91px;
    cursor: pointer;
  } */
  
  .bts-modify-ticket-journey,
  .bts-modify-ticket-email,
  .bts-modify-ticket-mobile,
  .bts-modify-ticket-child4{
    position: absolute;
    top: 490px;
    left: 1300px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 344px;
    height: 54px;
  }
  .bts-modify-ticket-email,
  .bts-modify-ticket-mobile,
  .bts-modify-ticket-child4{
    top: 653px;
    left: 650px;
   text-size-adjust: 10px;
  
  }
  .bts-modify-ticket-mobile,
  .bts-modify-ticket-child4{
    top: 650px;
    left: 1300px;
  }
  .bts-modify-ticket-child4{
    width: 42%;
    top: 301px;
    right: 9.34%;
    left: 25%;
    border-radius: var(--br-mini);
    background-color: var(--color-darkslateblue);
    height: 70px;
  }
  .modify-ticket {
    position: absolute;
    top: 320px;
    left: 30%;
    display: inline-block;
    color: var(--color-white);
    width: 200px;
    height: 110px;
  }
  .e-mail-modify,
  .journey-date-modify,
  .mobile-no-modify,
  .prn-modify {
    position: absolute;
    top: 457px;
    left: 650px;
    display: inline-block;
    width: 480px;
    height: 100px;
  }
  .e-mail-modify,
  .journey-date-modify,
  .mobile-no-modify{
    left: 1300px;
    width: 394px;
    height: 89px;
  }
  .e-mail-modify,
  .mobile-no-modify {
    top: 615px;
    left: 1300px;
    width: 372px;
    height: 105px;
  }
  .e-mail-modify {
    left: 650px;
    width: 336px;
    height: 77px;
  }
  .group-child-submitbox-modify{
    border-radius: var(--br-mini);
    margin-top: 200px;
    text-decoration: white;
    
   
  } 
  
  .submit-modify{
    position: absolute;
    top: 750px;
    left: 1050px;
    width: 160px;
    height: 45px;
    text-align: center;
    background-color: var(--color-darkslateblue);
    color: white;
    cursor: pointer;
    
    
  
  }
  
  
  
  /* .rectangle-wrapper, */
  /* .group-container {
    position: absolute;
    top: 750px;
    left: 563px;
    width: 110px;
    height: 45px;
    text-align: center;
    background-color: var(--color-darkslateblue);
    
    
  } */
  
  
  /* .group-container, */
  
  /* .group-container {
    top: 755px;
    left: 520px;
    width: 486px;
    height: 119px;
  } */
  .support-modify {
    width: 27.2%;
    top: 980px;
    left: 2.6%;
    display: inline-block;
    position: absolute;
    color: var(--color-white);
    cursor: pointer;
  }
  .bts-modify-ticket-child5-modify {
    position: absolute;
    top: 498px;
    left: 650px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 344px;
    height: 54px;
  }
  .ridefusion-10-removebg-previ-modify {
    position: absolute;
    top: -8px;
    left: -43px;
    width: 244px;
    height: 244px;
  }
  .bts-modify-ticket {
    background-color: var(--color-white);
    overflow: hidden;
  }
  .bts-modify-ticket,
  .bts-modify-ticket-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 2500px;
    height: 1200px;
  }
  .group-parent-modify {
    position: relative;
    width: 2100px;
    height: 1200px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  
  .bts-modify-logo-modify {
    position: absolute;
    top: 5px;
    left: 0;
    width: 185px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }

  .footer-modify {
    background-color: #1e033f;
    color: white;
    text-align: center;
    padding: 10px;
    height: 400px;
    opacity: 0.9;
    bottom: 0;
    margin-top: 850px;
  }

  .about-us-modify {
    color: white;
    font-weight: normal;
    font-size: 30px;
    
  }
  
  .footer-about-modify{
    font-weight: normal;
    font-size: 30px;
    width: 30%;
    margin-left: 1500px;
    margin-top: 30px;
    text-align: justify;
    color: white;
    line-height: 3rem;
  }

  .account-modify{
      left: 2000px;
      width: 131.91px;
      top: 130;
    
  }