.sign-up-child {
    position: absolute;
    top: 147px;
    left: 311px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid var(--color-brown);
    box-sizing: border-box;
    width: 818px;
    height: 776px;
  }
  .email,
  .name,
  .password,
  .signup {
    position: absolute;
    left: 376px;
    display: inline-block;
  }
  .signup {
    top: 201px;
    font-size: 36px;
    width: 315px;
    height: 87px;
  }
  .email,
  .name,
  .password {
    top: 279px;
    width: 363px;
    height: 81px;
  }
  .email,
  .password {
    top: 429px;
    width: 328px;
    height: 111px;
  }
  .password {
    top: 591px;
    width: 283px;
    height: 154px;
  }
  .login_nav {
    color:red;
    cursor: pointer;
   
  }
  .already-have-an-container {
    position: absolute;
    top: 850px;
    left: 376px;
    display: inline-block;
    width: 534px;
    height: 66px;
  }
  .sign-up {
    position: relative;
    background-color: #563d85;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  
  .username{
  
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .mail{
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .passwrd{
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .btn{
    background-color: #563d85;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .btn:hover{
    opacity: 0.8;
  }

